Project_1 Statistical Learning

---Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)

---Print all the teams which have started playing between 1930-1980. (5 points)

---Print the list of teams which came Top 5 in terms of points (5 points)

---Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same      function, find the team which has maximum and minimum goal difference. (5 points)
   Goal_diff_count = GoalsFor - GoalsAgainst

---Create a new column with name “Winning Percent” and append it to the data set (5 points)
   Percentage of Winning = (GamesWon / GamesPlayed)*100

   If there are any numerical error, replace it with 0%


---Print the top 5 teams which has the highest Winning percentage

   Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

Eg: Best Position                Points

          1                              25000

          2                              7000

In [2]:
import pandas as pd 
import numpy as np

In [3]:
laliga=pd.read_csv(r'C:\Users\sarangk\Downloads\Kavyal\Project 1\Laliga.csv',skiprows=1)

In [4]:
laliga.head(10)
laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [9]:
#mapping={'-':0}
#laliga.replace('-',0,inplace=False)
laliga=laliga.replace(
    to_replace="-",
    value=0,
    inplace=False,
)
lg=laliga
laliga.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [137]:
#laliga.replace({'Runner-up':mapping,'Champion':mapping,'Third':mapping,'Fourth':mapping,'Fifth':mapping,'Sixth':mapping,'T':mapping,'Points':mapping,'GamesPlayed':mapping,'GamesWon':mapping},inplace=False)

In [10]:

lg['new_col'] = lg['Debut'].astype(str).str[0:4]
#laliga['new_col2']=laliga['Debut'].astype(str).str[5:]

In [11]:
lg['new_col']=lg.new_col.astype(int)

debut_30_80=lg[(lg['new_col']>=1930) & (lg['new_col']<=1980)]
##laliga.drop(['new_col'],axis=1,inplace=True)
print(debut_30_80.shape)
debut_30_80[['Team','Debut']]

(37, 21)

                   Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
37              Cordoba  1962-63
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
52           AD Almeria  1979-80
54               Lleida  1950-51
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56

In [12]:
#Print the list of teams which came top in terms of points
lg['new_col2']=lg.Points.astype(int)
lg.sort_values('new_col2',inplace=True,ascending=False)
lg[['Team','Points']].head(5)

              Team Points
0      Real Madrid   4385
1        Barcelona   4262
2  Atletico Madrid   3442
3         Valencia   3386
4  Athletic Bilbao   3368

In [ ]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same      function, find the team which has maximum and minimum goal difference. (5 points)
#Goal_diff_count = GoalsFor - GoalsAgainst

In [13]:
def Goal_diff_count():
    
    lg['new_col3']=lg.GoalsFor.astype(int)
    lg['new_col4']=lg.GoalsAgainst.astype(int)
    lg['Goal_diff_count']= lg['new_col3']-lg['new_col4']
    print('\n Goal difference for all the teams:\n ')
    return lg[['Team','Goal_diff_count']]

In [15]:
 Goal_diff_count()

 Goal difference for all the teams:

                   Team  Goal_diff_count
0           Real Madrid             2807
1             Barcelona             2786
2       Atletico Madrid             1225
3              Valencia              929
4       Athletic Bilbao              931
5               Sevilla              307
6              Espanyol             -280
7         Real Sociedad               -2
8              Zaragoza             -164
9            Real Betis             -333
10  Deportivo La Coruna             -136
11           Celta Vigo             -346
12           Valladolid             -413
13     Racing Santander             -525
14       Sporting Gijon             -399
15              Osasuna             -334
16               Malaga             -342
17               Oviedo             -309
18             Mallorca             -189
19           Las Palmas             -399
20           Villarreal              103
21              Granada             -338
22       Rayo Vallecano             -328
23                Elche             -272
24               Getafe             -113
25             Hercules             -334
26             Tenerife             -125
27               Murcia             -385
28               Alaves             -165
29              Levante             -202
..                  ...              ...
31             Sabadell             -228
32                Cadiz             -269
33             Logrones             -198
34            Castellon             -169
35             Albacete              -90
36              Almeria             -122
37              Cordoba             -145
38           Compostela              -42
39           Recreativo              -94
40            Burgos CF              -94
41           Pontevedra              -56
42             Numancia              -98
43                Eibar              -28
44               Arenas              -81
45          Real Burgos              -38
46            Gimnastic             -114
47          Extremadura              -55
48               Merida              -45
49             Alcoyano             -107
50                 Jaen              -62
51           Real Union              -31
52           AD Almeria              -45
53               Europa              -34
54               Lleida             -112
55              Leganes              -19
56                Xerez              -28
57               Condal              -20
58      Atletico Tetuan              -34
59     Cultural Leonesa              -31
60               Girona                0

[61 rows x 2 columns]

In [19]:
#Maximum and mininmum goal difference counts 
print(lg[['Team','Goal_diff_count']].max())
print(lg[['Team','Goal_diff_count']].min())

Team               Zaragoza
Goal_diff_count        2807
dtype: object
Team               AD Almeria
Goal_diff_count          -525
dtype: object

In [20]:
#Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100
#If there are any numerical error, replace it with 0%
lg['newcol']=lg.GamesWon.astype(int)
lg['newcol1']=lg.GamesPlayed.astype(int)
lg['Winning Percent']=(lg['newcol']/lg['newcol1'])*100
lg.sort_values(by=['Winning Percent'],ascending=False)

lg['Winning Percent']

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60          NaN
Name: Winning Percent, Length: 61, dtype: float64

In [200]:
#Winning percentage for the top 5 teams 
lg[['Team','Winning Percent']].head()

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

In [ ]:
#Group teams based on their “Best position” and print the sum of their points for all positions (5 points
#Sum of all the points for each position, so sum of points of all the teams where Best position is 1, 2 etc

In [21]:
lg['Points']=lg.Points.astype(int)
lg.groupby('BestPosition')["Points"].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32